{{#extends 'base'}}

{{#block "content"}}
<h1>Camera Products</h1>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Manufacturer</th>
            <th>created_date</th>
            <th>ISO</th>
            <th>Shutter Speed</th>
            <th>Aperture</th>
            <th>Focal Length</th>
            <th>Flash</th>
            <th>Battery</th>
            <th>Body Color</th>
            <th>Format</th>
            <th>Weight</th>
            <th>Description</th>
            <th>Stock</th>
            <th>Cost</th>
        </tr>
    </thead>
    <tbody>
        {{#each camera}}
        <tr>
            <td>{{this.name}}</td>
            <td>{{this.type.name}}</td>
            <td>{{this.manufacturer.name}}</td>
            <td>{{this.created_date}}</td>
            <td>{{this.camera_iso}}</td>
            <td>{{this.shutter_speed}}</td>
            <td>{{this.aperture}}</td>
            <td>{{this.focal_length}}</td>
            <td>{{this.flash}}</td>
            <td>{{this.battery}}</td>
            <td>{{this.body_color}}</td>
            <td>{{this.format}}</td>
            <td>{{this.weight}}</td>
            <td>{{this.description}}</td>
            <td>{{this.stock}}</td>
            <td>{{this.cost}}</td>
            <td>
                <a class="btn btn-success btn-sm my-2" href="/cameras/{{this.id}}/update">Update</a>
                <a class="btn btn-danger btn-sm" href="/cameras/{{this.id}}/delete">Delete</a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{/block}}

{{/extends}}